.box{
    padding: 1%;
    margin: 1%;
    background-color: rgb(42, 44, 106);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 26px 0px;
    text-align: left;
    
}
h2{
    font-size: 1.4rem;
   
}
.btn-purple{
    width: 50%;
}
.col-4{
    text-align: right
}
.logosvg{
    width: 150px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.form{
    margin: auto;
    width: 50%;
    margin-bottom: 50px;
}
.center{
    align-items: center;
}
.center2 {
margin: auto
}

.new{
    background-color: rgb(5, 145, 107);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 26px 0px;
}
.doing{
    background-color: rgb(206, 162, 61);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 26px 0px;
}
.done{
background-color: #EF476F;
box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 26px 0px;
}
.purple{
    background-color:  rgb(42, 44, 106);;
}

.modal {
    background-color: #E6E1C5;
}