.box{
    padding: 1%;
    margin: 1%;
    background-color: rgb(42, 44, 106);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 26px 0px;
    text-align: left;
    
}
h2{
    font-size: 1.4rem;
   
}
.btn-purple{
    width: 50%;
}
.col-4{
    text-align: right
}
.logosvg{
    width: 150px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.form{
    margin: auto;
    width: 50%;
    margin-bottom: 50px;
}
.center{
    align-items: center;
}
.center2 {
margin: auto
}

.new{
    background-color: rgb(5, 145, 107);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 26px 0px;
}
.newborde{
    border-color: rgb(5, 145, 107);
}
.doing{
    background-color: rgb(206, 162, 61);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 26px 0px;
}
.doingborde{
    border-color: rgb(206, 162, 61);
}
.done{
background-color: #EF476F;
box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 26px 0px;
}
.doneborde{
border-color: #EF476F;
}
.purple{
    background-color:  rgb(42, 44, 106);;
}

.modal {
    background-color: #E6E1C5;
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: auto;
    display: inline-block;
    vertical-align: top;
  }
  
  .example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: white;
   
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;   
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  hr{
    border-color: aquamarine;
  }