
<img src="assets/svg/logo.svg" alt="" class="logosvg">

<br>

<div class="box form">
<div class="container" >
    <form [formGroup]="createForm" class="create-form" >
    <div class="row center">
      <div class="col-md-8 col-sm-12">
          <input type="text"  formControlName="title" #title>
          <input type="hidden" formControlName="userID" #userID>
        
      </div>
      <div class="col-md-4 col-sm-12">
      
                <button type="button" class="btn btn-primary btn-purple" (click)="addTodo(title.value)" >
                        Add 
                        </button>
        
      </div>
    </div>
  </form>
  </div>

</div>
     


    <div class="row">
               <div class="example-container box" id="trashcontainer" style="margin-bottom: 50px;">
                  <h2 class="center" >Trash</h2>
                
                  <div
                    cdkDropList
                    id="trash"
                    #trashList="cdkDropList"
                    [cdkDropListData]="trash"
                    [cdkDropListConnectedTo]="[doingList, doneList, todoList]"
                    class="trash-list"
                    (cdkDropListDropped)="drop($event)">
                    <div>
                      <div class="example-box"  cdkDrag>
                          <div cdkDragHandle>
                            
                              <br>
                        </div>  
                      </div>
                     
                    </div>
                  </div>
                </div>
    </div>

   <!-- 

     <div class="row" >
     
        <div class="col-sm-12 col-md-3 box center2" style="text-align: center">
  <div class="example-container">
      <h2 class="new" >To Do</h2>
    
      <div
        cdkDropList
        id="0"
        #todoList="cdkDropList"
     
        [cdkDropListConnectedTo]="[doingList, doneList, trashList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div *ngFor= "let todo of Todo; index as i">
          <div class="example-box" *ngIf="todo.status == 0" id="{{todo._id}}" cdkDrag>
              <div cdkDragHandle>
                  {{todo.title}}
                  <br>
                  <hr class="newborde">
              </div>
          
            <i class="fas fa-trash" (click)="deleteTodo(todo._id)"></i>  
          </div>
         
        </div>
      </div>
    </div>

         </div>

         <div class="col-sm-12 col-md-3 box center2 " style="text-align: center">                                
              <div class="example-container">
                  <h2 class="doing" >Doing</h2>
                
                  <div
                    cdkDropList
                    id="1"
                    #doingList="cdkDropList"
                 
                    [cdkDropListConnectedTo]="[todoList, doneList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div *ngFor= "let todo of Todo; index as i">
                        <div class="example-box" *ngIf="todo.status == 1" id="{{todo._id}}" cdkDrag>
                            <div cdkDragHandle>
                                {{todo.title}}
                                <br>
                                <hr class="doingborde">
                            </div>
                          <i class="fas fa-trash" (click)="deleteTodo(todo._id)"></i>  
                        </div>
                      </div>
                  </div>
                </div>

         </div>
         <div class="col-sm-12 col-md-3 box center2" style="text-align: center">

              <div class="example-container">
                  <h2 class="done">Done</h2>
                
                  <div
                    cdkDropList
                    id="2"
                    #doneList="cdkDropList"
                 
                    [cdkDropListConnectedTo]="[todoList, doingList]"
                    class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div *ngFor= "let todo of Todo; index as i">
                        <div class="example-box" *ngIf="todo.status == 2" id="{{todo._id}}" cdkDrag>
                            <div cdkDragHandle>
                                {{todo.title}}
                                <br>
                                <hr class="doneborde">
                            </div>
                          <i class="fas fa-trash" (click)="deleteTodo(todo._id)"></i>  
                        </div>
                      </div>
                  </div>
                </div> 
         </div>

</div>



    -->



<div class="row" >
     
    <div class="col-sm-12 col-md-3 box center2" style="text-align: center">
    <div class="example-container">
      <h2 class="new" >To Do</h2>

      <div
        cdkDropList
        id="0"
        #todoList="cdkDropList"
        [cdkDropListData]="newtodo"
        [cdkDropListConnectedTo]="[doingList, doneList, trashList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">

          <div class="example-box" *ngFor= "let todo of newtodo; index as i" id="{{todo._id}}" cdkDrag>
              <div cdkDragHandle>
                  {{todo.title}}
                  <br>
                  <hr class="newborde">
              </div>
          
            <i class="fas fa-trash" (click)="deleteTodo(todo._id)"></i>  
            <button mat-raised-button (click)="openBottomSheet(todo._id)">Edit</button>

          </div>
      </div>
    </div>

     </div>

     <div class="col-sm-12 col-md-3 box center2 " style="text-align: center">
             
          <div class="example-container">
              <h2 class="doing" >Doing</h2>
            
              <div
                cdkDropList
                id="1"
                #doingList="cdkDropList"
                [cdkDropListData]="doing"
                [cdkDropListConnectedTo]="[todoList, doneList, trashList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                    <div class="example-box"  *ngFor= "let todo of doing; index as i" id="{{todo._id}}" cdkDrag>
                        <div cdkDragHandle>
                            {{todo.title}}
                            <br>
                            <hr class="doingborde">
                        </div>
                      <i class="fas fa-trash" (click)="deleteTodo(todo._id)"></i>  
                      <button mat-raised-button (click)="openBottomSheet(todo._id)">Edit</button>

                    </div>
              </div>
            </div>

     </div>

     <div class="col-sm-12 col-md-3 box center2" style="text-align: center">
              <div class="example-container">
              <h2 class="done">Done</h2>
            
              <div
                cdkDropList
                id="2"
                #doneList="cdkDropList"
                [cdkDropListData]="done"
                [cdkDropListConnectedTo]="[todoList, doingList, trashList]"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor= "let todo of done; index as i" id="{{todo._id}}" cdkDrag>
                        <div cdkDragHandle>
                            {{todo.title}}
                            <br>
                            <hr class="doneborde">
                        </div>
                      <i class="fas fa-trash" (click)="deleteTodo(todo._id)"></i>  
                      <button mat-raised-button (click)="openBottomSheet(todo._id, todo.title)">Edit</button>

                    </div>
              </div>
            </div> 
     </div>

</div>



